*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: Calibri, sans-serif;
    --main-clr: black;
    --white: #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.btn {
    width: 140px; 
    height: 45px;  
    background: var(--white);
    border: none;
    border-radius: 50px; 
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: 16px; 
    font-weight: 700;
    color: var(--main-clr);
    transition: all 0.3s ease-in-out;
}

/* TEXT AND ICON STYLING */
.btn-text, .btn-icon {
    position: absolute;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-text {
    opacity: 1;
    transform: translateX(0);
}

.btn-icon {
    font-size: 1.2em; 
    color: var(--main-clr);
    opacity: 0;
    transform: translateX(-15px);
}

/* HOVER EFFECTS */
.btn:hover .btn-text {
    opacity: 0;
    transform: translateX(15px);
}

.btn:hover .btn-icon {
    opacity: 1;
    transform: translateX(0);
}
