

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.main {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  position: relative;
}

@media (min-width: 768px) {
  .main {
    width: 430px;
    height: 430px;
  }
}

.big-circle {
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid rgb(145, 143, 143);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Rotate 20s linear infinite;
}

.icon-block {
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
  box-shadow: 0 2px 4px 0 #3e5ada;
}

@media (min-width: 768px) {
  .icon-block {
    width: 64px;
    height: 64px;
  }
}

.icon-block img {
  width: 80%;
  animation: Rotate-reverse 20s linear infinite;
}

.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.circle {
  animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 65%;
  height: 65%;
  border: 2px solid rgb(145, 143, 143);
  border-radius: 50%;
}

.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-logo img {
  max-width: 100px;
}

@media (min-width: 768px) {
  .center-logo img {
    max-width: 200px;
  }
}

/* Keyframe Animations */
// @keyframes Rotate {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
