
// UTILS
// VARIABLES
:root {
  --white: #fff;

  --info: #007bc2;
  --warning: #f0a92e;
  --success: #21a67a;
  --danger: #f45757;

  --topography-400: #a9abaf;
  --topography-700: #282c36;

  --background-color: #fafafa;
  --box-shadow-color: #dfdfdf;

  --font-size: 16px;
  --font-family: "Nunito Sans", sans-serif;
}

// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h3,
p {
  margin: 0;
}



// PAGE
.page-header {
  h1 {
    margin-bottom: 24px;
    text-align: center;
    color: var(--topography-700);
  }
}

.container {
  margin: 0 auto;
  
}

// NOTIFICATIONS
.toast {
  display: flex;
  margin: 1rem;
  padding: 0.75rem;

  background-color: var(--while);
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 0.625rem 0.0625rem var(--box-shadow-color);

  &-status {
    position: relative;
    padding-left: 1.25rem;
    padding-top: 0.875rem;
    font-size: 2rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0.3125rem;
      height: 100%;
      border-radius: 0.375rem;
    }

    .info & {
      color: var(--info);
    }

    .info &::before {
      background-color: var(--info);
    }

    .warning & {
      color: var(--warning);
    }

    .warning &::before {
      background-color: var(--warning);
    }

    .success & {
      color: var(--success);
    }

    .success &::before {
      background-color: var(--success);
    }

    .error & {
      color: var(--danger);
    }

    .error &::before {
      background-color: var(--danger);
    }
  }

  &-content {
    flex: 1;
    padding: 0.5rem 1rem;

    &-title {
      font-size: 1.25rem;
      line-height: 1.5;
      color: var(--topography-700);
    }

    &-subtitle {
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.03125rem;
      color: var(--topography-400);
    }
  }

  &-close {
    margin-top: 1rem;
    font-size: 1.75rem;
    color: var(--topography-400);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--topography-700);
    }
  }
}



.toast2 {
  display: flex;
  margin: 1rem;
  padding: 0.75rem;

  background-color: rgb(40, 40, 78);
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 0.625rem 0.0625rem var(--box-shadow-color);

  &-status {
    position: relative;
    padding-left: 1.25rem;
    padding-top: 0.875rem;
    font-size: 2rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0.3125rem;
      height: 100%;
      border-radius: 0.375rem;
    }

    .info & {
      color: var(--info);
    }

    .info &::before {
      background-color: var(--info);
    }

    .warning & {
      color: var(--warning);
    }

    .warning &::before {
      background-color: var(--warning);
    }

    .success & {
      color: var(--success);
    }

    .success &::before {
      background-color: var(--success);
    }

    .error & {
      color: var(--danger);
    }

    .error &::before {
      background-color: var(--danger);
    }
  }

  &-content {
    flex: 1;
    padding: 0.5rem 1rem;

    &-title {
      font-size: 1.25rem;
      line-height: 1.5;
    
    }

    &-subtitle {
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.03125rem;
      color: var(--topography-400);
    }
  }

  &-close {
    margin-top: 1rem;
    font-size: 1.75rem;
    color: var(--topography-400);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--topography-700);
    }
  }
}

:root {
    --heading-font: "Poppins";
    --content-font: "Nunito";
    --heading-size: 50px;
    --content-size: 20px;
    --heading-line-height: 75px;
   
  }
  
  body {
    overflow-x: hidden;
  }
  
  .mkdf-title-holder {
    display: none;
  }
  
  .mkdf-container-inner {
    padding: 0px !important;
  }
  
  body {
    margin: 0px;
  }
  
  .orange {
    color: #95235B;
  }
  
  svg.banner-img {
    width: 39.06vw;
  }
  
  .banner-section,
  .benifits-section {
    background-color: #f7f7f9;
    width: 100vw;
    height: 80vh;
    display: flex;
  }
  
  .banner-heading,
  .benifits-heading {
    font-family: var(--heading-font);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    font-weight: 500;
    color: var(--heading-color);
    margin: 0px;
  }
  
  .banner-content,
  .benifits-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-left: 7.2vw;
  }
  
  .banner-subheading,
  .benifits-subheading {
    font-family: var(--content-font);
    font-size: var(--content-size);
    line-height: 40px;
    width: 80%;
    align-items: flex-start;
  }
  
  .benifits-section {
    background-color: white;
  }
  
  .benifits-content {
    width: 40%;
  }
  
  .benifits-images svg {
    width: 700px;
    height: 750px;
  }
  
  .btn1 {
    margin-top: 10px;
    font-family: var(--content-font);
    font-size: var(--content-size);
    min-width: 150px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
  }
  
  /***************************** 4 Blocks Sections *****************************/
  .features-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    padding: 0px 4%;
    margin-top: -5%;
  }
  
  .key-icon {
    display: flex;
    justify-content: center;
    height: 70px;
    margin-bottom: 2%;
  }
  
  .circle-icon {
    padding: 20px;
  }
  
  .key-icon img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  
  .icon-container {
    text-align: justify;
    position: relative;
    padding: 15px 20px;
    z-index: 100 !important;
    background: white;
    margin: 2% 0px;
    width: 200px;
    height: 280px;
    min-width: 250px;
    border-radius: 12px;
    box-shadow: rgb(0 92 213 / 25%) 0px 2px 8px;
    transition: 1s;
  }
  
  .icon-container h4 {
    text-align: center;
    height: 25%;
    font-family: var(--heading-font);
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }
  
  .icon-container p {
    font-family: var(--content-font);
    padding: 0px 25px;
    text-align: center;
  }
  
  .four-banner-features {
    margin-top: -10%;
  }
  
  /********************************Tab Content********************************/
  .tab-container {
    width: 85%;
    margin: 5% auto;
    border-radius: 8px;
    box-shadow: 0px 7px 15px rgb(0 92 213 / 25%);
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .tab-btn {
    font-family: var(--heading-font);
    font-size: var(--content-size);
    color: #a5b7cd;
    padding-bottom: 1.5vh;
    border: none;
    background: none;
    border-bottom: 3px solid transparent;
  }
  
  .tab-btn:focus {
    color: #f7934d !important;
    border-bottom: 3px solid #f7934d;
    outline: none;
  }
  
  .tab-btn:focus .tab {
    color: #f7934d !important;
  }
  
  /***********************************Partner Section********************************/
  
  
  /*************************************Technical Partner*************************/
  .tech-partner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f9;
    padding: 5vh 0px;
  }
  
  .tech-partner-section img {
    width: 10%;
    margin-top: 1.5%;
  }
  
  /**************************Floating Animation********************************/
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
  
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
  
  @keyframes second-float {
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes third-float {
    50% {
      transform: translate(434px, 780px);
    }
  }
  
  @keyframes fourth-float {
    50% {
      transform: translate(661.26px, -200px);
    }
  }
  
  @keyframes fifth-float {
    50% {
      transform: translate(854.67px, -20px);
    }
  }
  
  @-webkit-keyframes fourth-float {
    50% {
      -webkit-transform: translate(661.26px, -200px);
    }
  }
  
  @-moz-keyframes moz-fourth-float {
    100% {
      display: block;
    }
  }
  
  #smlogo-1,
  #smlogo-4,
  #smlogo-6 {
    animation: second-float 4s ease-in-out infinite;
    -moz-animation: moz-fourth-float 4s ease-in-out infinite;
  }
  
  #smlogo-5 {
    animation: third-float 4s ease-in-out infinite;
    -moz-animation: moz-fourth-float 4s ease-in-out infinite;
  }
  
  #smlogo-2 {
    animation: fourth-float 4s ease-in-out infinite;
    -moz-animation: moz-fourth-float 4s ease-in-out infinite;
  }
  
  #smlogo-3 {
    animation: fifth-float 4s ease-in-out infinite;
    -moz-animation: moz-fourth-float 4s ease-in-out infinite;
  }
  
  /*************************************@Media Queries****************************************/
  @media only screen and (max-width: 769px) {
    :root {
      --heading-size: 30px;
      --content-size: 15px;
      --heading-line-height: 40px;
    }
  
    svg.banner-img {
      width: 100%;
    }
  
    .banner-section {
      flex-direction: column-reverse;
      height: auto !important;
    }
  
    .banner-content,
    .benifits-content {
      width: 100%;
    }
  
    .banner-content {
      padding-bottom: 10vh;
    }
  
    .benifits-section {
      height: auto !important;
      flex-direction: column;
      width: auto !important;
      align-items: center;
    }
  
    .benifits-content {
      width: 100%;
    }
  
    .banner-heading,
    .benifits-heading {
      margin: 2vh auto;
    }
  
    .banner-subheading,
    .benifits-subheading {
      line-height: 30px;
    }
  
    .tab-container {
      width: 100%;
    }
  
    .benifits-images svg {
      width: 100% !important;
      height: 100% !important;
    }
  
    .tech-partner-section h3 {
      text-align: center;
    }
  
    .tech-partner-section img {
      width: 20%;
    }
  
    .icon-container p {
      padding: 0px 25px 20px 25px;
    }
  
    .icon-container h4 {
      height: 20%;
    }
  }