.gradient-text {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: fantasy;
    background: linear-gradient(90deg, rgb(179, 48, 48), rgb(78, 78, 192), rgb(22, 105, 22), rgb(182, 182, 30), rgb(216, 41, 216));
    background-size: 300% 300%; /* Scale the gradient for smooth movement */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s linear infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%; /* Start position */
    }
    100% {
      background-position: 100% 50%; /* End position */
    }
  }
  
